#logo{
    width: 149px;
    height: 54px;
    margin-right: 15px;
}

.footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: maroon;
    text-align: center;
    background-color: green;
    margin: 0;
}

body{
    margin: 0px;
    width: 100%;
}

.table{
    width: 500px;
    font-size: small;
}